<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.BookLibMapper">

	<!-- 게시글 목록을 검색 조건에 따라 조회 -->

<!--
SELECT * FROM BOOK JOIN BOOK_LIB BL on BL.LIB_ID = BOOK.BOOK_ID WHERE BOOK_NAME LIKE '%해리%';
-->

	<select id="getBookLibList" resultType="BookLibDTO" parameterType="SearchCondition">
		SELECT * FROM BOOK
		<where>
			<if test="condition != null and condition != ''">
				${condition} LIKE '%' || #{keyword} || '%'
			</if>

		</where>
	</select>

</mapper>
