<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.UserSignUpMapper">

    <!-- 게시글 목록을 검색 조건에 따라 조회 -->
<!--
INSERT INTO USERS (USER_ID, USER_PW, USER_NAME) VALUES ('user01', '1234', '홍길동');
-->

    <insert id="insertUser" parameterType="UserDTO">
        INSERT INTO USERS (USER_ID, USER_PW, USER_NAME)
        VALUES (#{userId}, #{userPw}, #{userName})
    </insert>

</mapper>