<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>대기 오염 지수</title>
  <style>
    .imageBox {
        display: flex;
    }

    img {
        width: 100px;
        height: 100px;
    }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    function search() {
        console.log("Console OK?");
        $.ajax({
            type: "GET",
            url: "/airList",
            success: function (data) {
                console.log(data);
                alert(data[0].informCause);
                let result = toHTML(data);
                $("#result").html(result);
            },
            error: function (err) {
                console.log(err);
                alert("error");
            }
        });
    }

    function toHTML(d) {
        let str = "<ul>";
        for (let i = 0; i < d.length; i++) {
            let item = d[i];
            let resultGrade = item.informGrade.split(',');
            let resultinform = item.informCause.replace('○', '').trim();

            str += '<div class="imageBox">';

            // 이미지가 null 또는 빈 문자열인 경우 해당 이미지를 출력하지 않음
            if (item.image1 && item.image1 !== "null" && item.image1 !== "") {
                str += '<img src="' + item.image1 + '">';
            }
            if (item.image2 && item.image2 !== "null" && item.image2 !== "") {
                str += '<img src="' + item.image2 + '">';
            }
            if (item.image3 && item.image3 !== "null" && item.image3 !== "") {
                str += '<img src="' + item.image3 + '">';
            }

            str += '</div><br>';

            str += "<li>" + resultinform + "<br>" + item.dataTime + "<br>";
            for (let grade of resultGrade) {
                str += grade + "<br>";
            }
            str += "</li>";
        }
        str += "</ul>";
        return str;
    }
  </script>
</head>
<body>
<h1>대기 오염 지수</h1>
<button onclick="search()">air</button>
<div id="result"></div>
</body>
</html>
