<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="b">


    <insert id="insertPoint" parameterType="PointDTO">
        INSERT INTO point (  member_id, amount)
        VALUES (   #{memberId}, #{amount})
    </insert>

</mapper>