<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.acorn.OrderMapper">
    <!-- 쿼리의 결과를 map으로 반환함 -->
    <select id="selectAll" resultType="map">
        SELECT *
        FROM tbl_test_order  o
        JOIN tbl_test_customer  m ON o.id = m.id
    </select>
</mapper>