<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

  <script>
    function registerMember( event){


      event.preventDefault();  //submit되지 않도록 하기

       const form = event.target;

      // form에서 name 속성으로 접근
      const id = form.id.value;
      const name = form.name.value;
      const email = form.email.value;

/*
      let id  = document.getElementById("id").value;     // $(#id).val()
      let name  = document.getElementById("name").value;
      let email  = document.getElementById("email").value;
*/

      alert( id );
      alert( name);
      alert( email);

      //fetch 비동기로 등록요청

      //let jsonData  = {id:id, name:name , email:email };
      fetch( '/members' , {
        method:'post',
        headers:{  'Content-Type': 'application/json'},
        body:  JSON.stringify({id:id, name:name , email:email })
      })
      .then( response  => response.text())
      .then( data => {
          console.log( "성공")
          console.log( data);

      } ).catch( err  => {
          console.log( err);
      } );

    }


  </script>

</head>
<body>

<form  onsubmit="registerMember(event)">
   <input type="text" name="id" id="id">
   <input type="text" name="name"  id="name">
   <input type="text" name="email"  id="email">
  <button> 등록</button>
</form>

</body>
</html>