<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

  <script>
    function getData(){
      alert("dfjdkfjdkf");

      //비동기 서버 호출
      let id="acorn1";
                          //  =>  /members/acorn1   , pathVariable로 요청하기
       fetch( `/members/${id}`)
      .then(  response  =>  response.json() )
      .then (  data   => {
          console.log( "성공" );
          console.log( data );

        let result =  document.querySelector("#result");
        result.innerHTML =  `이름: ${data.name}  이메일 : ${data.email} `;

       } ).catch(  error => {
         console.log( "실패" );
         console.log( error);
       });

    }
  </script>
</head>
<body>


member 한 명 조회하기
<button onclick="getData()">조회</button>
<div id="result"></div>
</body>
</html>