<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

  <script>
    function registerMember(  ){
     alert("!!!!!!");

      let id  = document.getElementById("id").value;
      let name  = document.getElementById("name").value;
      let email  = document.getElementById("email").value;


      alert( id );
      alert( name);
      alert( email);

      //fetch 비동기로 등록요청
      let jsonData  = {id:id, name:name , email:email };

      fetch("/members" ,{
          method:"POST",
          headers:{ 'Content-Type': 'application/json'},
          body: JSON.stringify( jsonData)
      })
      .then( response => response.text() )
      .then ( (data) => {  console.log( data); } )
      .catch( (err)=>{  console.log( err); });

    }


  </script>

</head>
<body>


   <input type="text" name="id" id="id">
   <input type="text" name="name"  id="name">
   <input type="text" name="email"  id="email">
  <button  onclick="registerMember()"> 등록</button>


</body>
</html>