<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Member List</title>

    <style>

        .active{
            color:red;
        }
    </style>
</head>
<body>
<h1>Member List</h1>

<!-- Display member list -->
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>pw</th>
        <th>name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="member, state : ${members}">
        <td th:text="${state.count}"></td>
        <td th:text="${state.index}"></td>
        <td th:text="${member.m_id}"></td>
        <td th:text="${member.m_pw}"></td>
        <td th:text="${member.m_name}"></td>
    </tr>
    </tbody>
</table>



<!-- 페이징-->
<div>
        <!-- 그룹의 시작이 1보다 크면 이전이 있음 -->



    <!--이전-->
    <span th:if="${pageHandler.grpStartPage > 1}">
         <a th:href="@{/list(currentPage=${pageHandler.grpStartPage-1})}">이전</a>
    </span>

    <span th:each="page  : ${#numbers.sequence(pageHandler.grpStartPage, pageHandler.grpEndPage)}">
        <a th:href="@{/list(currentPage=${page})}"
           th:text="${page}"
           th:classappend="${page == pageHandler.currentPage? 'active' :''}"></a>
    </span>


     <!--  1    2   3  4     5     =>1그룹-->
     <!--  6    7   8  9    10       2그룹-->
     <!--  11  12  13  14   15       3그룹 -->
    <!--다음-->
    <span th:if="${pageHandler.grpEndPage < pageHandler.totalPage }">
        <a th:href="@{/list(currentPage=${pageHandler.grpEndPage+1})}">다음</a>
    </span>
</div>

</body>
</html>
