<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>


<h1> insert</h1>
<div th:insert="~{fragments/header::header}"></div>


<h1> replace</h1>
<div th:replace="~{fragments/header::header}"></div>
<div id="hi">
    <h1>hi page</h1>
</div>



<h3>이미지 </h3>
<img th:src="@{/imgs/cute.jpeg}"  alt="" />



<div th:replace="~{fragments/footer::footer}"></div>



<h1>파라미터 사용</h1>
<div th:replace="~{fragments/footer::footerParam ( '에이콘아카데미', '900-1212' )}"></div>

</body>
</html>