<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        .aa{

           color:red;
        }
    </style>
</head>
<body>

<!--*{} 안에 들어간 속성 이름은 현재 폼의 모델 객체(여기서는 order)에서 해당 속성을 참조하는 것 -->
<!-- th:errors="*{qty}" 모델객체의  필드에서 에러가 발생하면 해당 에러 메시지를 표시-->
<!--  <div th:errors="*{qty}">수량 오류</div>  -->


<form th:action="@{/order4}" th:object="${order}" method="post">
    <label for="code">Code:</label>
    <input type="text" th:field="*{code}" id="code" /><br><br>

    <label for="name">Name:</label>
    <input type="text" th:field="*{name}" id="name" /><br><br>
    <div th:errors="*{name}">상품명 오류</div>

    <label for="qty">Qty:</label>
    <input type="text" th:field="*{qty}" id="qty" /><br><br>

    <div th:errors="*{qty}">수량 오류</div>

    <label for="price">Price:</label>
    <input type="text" th:field="*{price}" id="price" /><br><br>
    <div th:errors="*{price}">단가 오류</div>

    <label for="amount">Amount:</label>
    <input type="text" th:field="*{amount}" id="amount" /><br><br>
    <div th:errors="*{amount}">금액 오류</div>

    <input type="submit" value="Order" />
</form>
</body>
</html>