<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order List</title>
</head>
<body>
<h1>Order List</h1>
<table>
    <thead>
    <tr>
        <th>Order ID</th>
        <th>Order Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${list}">
        <td th:text="${order['ID']}">Order ID</td>
        <td th:text="${order['NAME']}">Order NAMe</td>
    </tr>
    </tbody>
</table>
</body>
</html>


</body>
</html>