<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--

<form action="/form"  method="post">
    <input type="text" id="username" name="username" value="hong"  />
    <input type="text" id="email" name="email" value="hong@gmail.com"  />
    <button>로그인</button>
</form>

  -->
<h2>로그인</h2>

<form  th:action="@{/form}" th:object="${member}"  method="post">
    <input type="text"  th:field="*{username}"  />
    <input type="text"  th:field="*{email}"  />
<button>로그인</button>

</form>
</body>
</html>