<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>URL 링크, param과  pathvariable </h1>
<ul>
    <li><a th:href="@{/hello}">기본  url 요청</a></li>
    <li><a th:href="@{/hello(param1=${param1}, param2=${param2})}">hello  쿼리스트링</a></li>
    <li><a th:href="@{/hello/{param1}/{param2}(param1=${param1}, param2=${param2})}">path variable , 여러개 줄 수 도 있다</a></li>
    <li><a th:href="@{/hello/{param1}(param1=${param1}, param2=${param2})}">path variable + 쿼리스트링, 함게 사용할 수도 있다</a></li>
</ul>
</body>
</html>
